// rockymeza.com Stylesheet
// by Rocky Meza


// Variables - Fonts
$normalfont: Arial, Helvetica, sans-serif;
$specialfont: Georgia;

// Variables - Colors
$grey: #666666;
$lightgrey: #AAAAAA;



// Mixins - Style
@mixin container {
  @include border-radius(.3em);

  ul {
    padding-left: 2em;
  }

  a {
    color: $grey;
    text-decoration: none;
  }

  background: white;
  color: black;

  // UGGGh
  .inner {
    @include padded;
  }
}

// Generic
body {
  background: url("/static/image/background.png") repeat;
  color: $grey;
  font-family: $normalfont;

  a {
    color: white;
    text-decoration: none;
  }

  p {
    line-height: 1.2em;
    margin-bottom: 1em;
  }

  pre, code {
    @include border-radius(3px);

    background-color: $lightgrey;
    color: black;
    font-family: monospace;
    padding: 2px;
  }

  pre {
    margin-bottom: 1em;
    padding: 5px;
    width: 90%;

    code {
      padding: 0;
    }
  }
}
h1 {
	font-family: $specialfont;
	font-size: 2em;
  margin-bottom: .5em;

  a {
    text-decoration: none;
    border: 0 none;
  }
}
h2 {
	color: $grey;
	font-family: $specialfont;
	font-size: 1.5em;
  margin-bottom: .5em;
}
ul {
  list-style: disc;
}

// Layout
header#header {
  text-align: center;

  h1 {
    @include transform(rotate(180deg));

    color: white;
    display: inline;
    font-size: 3em;

    // this adds padding to the top, because we are upside-down
    padding-bottom: .5em;

    img {
      @include transform(rotate(180deg));
      
      vertical-align: middle;
    }
  }

}

nav {
  @include clearfix;
  @include padded;

  ul {
    @include nolist;
  }

  .external {
    float: right;

    &:before {
      content: "As seen on: ";
    }
  }
}

#main {
  @include clearfix;

  #content {
    @include column(8);
    @include container;
  }
  
  #sidebar {
    @include column(4);
    @include container;
  }
}

footer {
  @include clearfix;
  @include padded;

  text-align: center;
}

@media screen and (max-width: 720px) {
  nav {
    .external {
      float: none;
      display: block;
    }
  }

  #main {
    #content,
    #sidebar {
      @include column(12);
      margin-bottom: 1em;
    }
  }

  .home {
    #main {
      #blogs, #projects {
        @include column(12);
        margin-bottom: 1em;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  header {
    img {
      float: left;
    }

    .rocky {
      @include transform(rotate(180deg));
    }
  }
}

.home {
  #blogs, #projects {
    @include column(4);
    @include container;
  }
}
