@charset "utf-8";

@import "greed";

$black: #1a1a1a;
$lightgrey: lightgrey;
$grey: #d4d4d4;

%clearfix {
  *zoom: 1;

  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

%list-style-none {
  list-style: none;
  margin: 0;
  padding: 0;

  & > li {
    list-style: none;
    padding: 0;
  }
}

body {
  background: $grey;
  color: $black;
  font: normal 16px sans-serif;

  a {
    color: $black;

    &:hover {
      color: lighten($black, 20%);
    }
  }
}

.wrapper {
  margin: 1em auto 0 auto;
  max-width: 1200px;

  header {
    @extend %greed-container;
    
    margin-bottom: 1em;

    & > a {
      @extend %clearfix;
      @include greed(25%);

      font-size: 3em;
      font-weight: bold;
      line-height: 1.1em;
      text-decoration: none;
      
      img {
        float: left;
        margin-right: .25em;
      }
    }

    & > nav {
      @include greed(75%);

      ul {
        @extend %list-style-none;
      }

      & > ul {
        display: table;

        & > li {
          display: table-cell;
          min-width: 10em;
        }
      }
    }
  }

  .breadcrumb {
    @extend %list-style-none;

    font-size: .7em;
    margin-bottom: 1em;

    li {
      display: inline;

      &:not(:last-child):after {
        content: '> ';
        color: grey;
      }
    }
  }

  .content {
    [role=main] {
      background: white;
      padding: 1em;

      h1 {
        margin: 0;
      }
    }

    margin-bottom: 1em;
  }

  footer {
    text-align: center;
  }
}

.buckets {
  @extend %greed-container;

  .blog, .projects {
    @include greed(50%);
  }

  h1 {
    font-size: 1.5em;

    a {
      text-decoration: none;
    }
  }

  ol {
    @extend %list-style-none;
  }
}

body.blog:not(.blog_index) .content {
  @extend %greed-container;

  & > nav {
    @include greed(25%);

    ol {
      @extend %list-style-none;
    }
  }

  [role=main] {
    @include greed(75%);

    max-width: 700px;

    article {
      img {
        display: block;
      }
    }
  }
}

body.projects {
  ol.projects {
    @extend %list-style-none;

    li > a:first-child {
      font-size: 2em;
      font-weight: bold;
    }
  }
}

pre,
code {
  background: $lightgrey;
}
