body {
  width: 100%;
  *zoom: 1; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: url("/static/image/background.png") repeat;
  color: #666666;
  font-family: Arial, Helvetica, sans-serif; }
  body a {
    color: white;
    text-decoration: none; }
  body p {
    line-height: 1.2em;
    margin-bottom: 1em; }
  body pre, body code {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: #aaaaaa;
    color: black;
    font-family: monospace;
    padding: 2px; }
  body pre {
    margin-bottom: 1em;
    padding: 5px;
    width: 90%; }
    body pre code {
      padding: 0; }

h1 {
  font-family: Georgia;
  font-size: 2em;
  margin-bottom: .5em; }
  h1 a {
    text-decoration: none;
    border: 0 none; }

h2 {
  color: #666666;
  font-family: Georgia;
  font-size: 1.5em;
  margin-bottom: .5em; }

ul {
  list-style: disc; }

header#header {
  text-align: center; }
  header#header h1 {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    color: white;
    display: inline;
    font-size: 3em;
    padding-bottom: .5em; }
    header#header h1 img {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      vertical-align: middle; }

nav {
  *zoom: 1;
  padding: 1em; }
  nav:before, nav:after {
    content: "";
    display: table; }
  nav:after {
    clear: both; }
  nav ul {
    list-style: none; }
  nav ul li {
    list-style: none;
    display: inline; }
  nav .external {
    float: right; }
    nav .external:before {
      content: "As seen on: "; }

#main {
  *zoom: 1; }
  #main:before, #main:after {
    content: "";
    display: table; }
  #main:after {
    clear: both; }
  #main #content {
    display: inline;
    float: left;
    width: 64.583%;
    margin: 0 1.042%;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    background: white;
    color: black; }
    #main #content ul {
      padding-left: 2em; }
    #main #content a {
      color: #666666;
      text-decoration: none; }
    #main #content .inner {
      padding: 1em; }
  #main #sidebar {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.042%;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    background: white;
    color: black; }
    #main #sidebar ul {
      padding-left: 2em; }
    #main #sidebar a {
      color: #666666;
      text-decoration: none; }
    #main #sidebar .inner {
      padding: 1em; }

footer {
  *zoom: 1;
  padding: 1em;
  text-align: center; }
  footer:before, footer:after {
    content: "";
    display: table; }
  footer:after {
    clear: both; }

@media screen and (max-width: 720px) {
  nav .external {
    float: none;
    display: block; }

  #main #content,
  #main #sidebar {
    display: inline;
    float: left;
    width: 97.917%;
    margin: 0 1.042%;
    margin-bottom: 1em; }

  .home #main #blogs, .home #main #projects {
    display: inline;
    float: left;
    width: 97.917%;
    margin: 0 1.042%;
    margin-bottom: 1em; } }
@media screen and (max-width: 400px) {
  header img {
    float: left; }
  header .rocky {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg); } }
.home #blogs, .home #projects {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.042%;
  border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  background: white;
  color: black; }
  .home #blogs ul, .home #projects ul {
    padding-left: 2em; }
  .home #blogs a, .home #projects a {
    color: #666666;
    text-decoration: none; }
  .home #blogs .inner, .home #projects .inner {
    padding: 1em; }
