html {
  height: 100%;
  display: grid;
  place-items: center;
}

body {
  --color-bg: papayawhip;
  --color-text: darkslategray;
  --color-primary: tomato;

  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: sans-serif;
  max-width: 40rem;

  text-align: center;
}

@media (prefers-color-scheme: dark) {
  body {
    --color-bg: darkslategray;
    --color-text: papayawhip;
  }
}

img {
  border-radius: 50%;
}

ul {
  list-style: none;
  padding: 0;
}

a,
a:hover,
a:focus {
  color: var(--color-primary);
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

article {
  text-align: justify;
}
