---
title: Projects
---
<h1>Projects</h1>

<p>Here's a bunch of little things that I've done.</p>

<ol class="projects">
  <li>
    <a href="/b/">b, a simple bookmarking system</a>
    <p>The most useful thing that I might ever write.</p>
  </li>
  <li>
    <a href="/greed">Greed, Semantic fluid grids for SCSS</a>
    <p>This very site is greedy (?).</p>
  </li>
</ol>
